@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
	color: #fff;
	word-wrap: break-word;
	font-family: "Righteous", sans-serif;
	font-weight: 400;
	font-style: normal;
}
