@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    color: #fff;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    cursor: none !important;
    /* overflow-x: hidden; */
    /* transition: all 1s ease-in-out; */
    /* outline: 1px solid #f00 !important; */
}

body {
    background-color: #000 !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes gayab {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        letter-spacing: 0.1vw;
        filter: blur(2px);
    }
}

.rand-cont>h1 {
    font-size: 5vw !important;
    transition: all 1s;
    animation: gayab 2s ease infinite;
    color: #000;
}

/* .rotate-div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh !important;
    width: 100vw !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999 !important;
    transition: all 1s;
}

.rotate-h1 {
    font-weight: bolder;
}

@media screen and (orientation:landscape) {
    .container-fluid {
        filter: blur(8px);
    }
   .rotate-div { 
      display: block;
   }
 } */
